html{
    height: 100vh;
}
body{
    background-image: url(../img/catbird\ image1.png);
    background-image: linear-gradient( rgba(131,58,180,1) 20%, rgba(253,29,29,0.8225665266106442) 50%, rgba(252,176,69,1) 70%), url(../img/catbird\ image1.png);
    gap: 5px;
    grid-template: 
        "header header  header"
        ".      section .    ";
       
}
header{
    background-image: linear-gradient( rgb(4, 8, 255) 20%, rgba(29, 171, 253, 0.823) 50%, rgb(2, 230, 247) 70%), url(../img/catbird\ image1.png);
    border-radius: 10%;
    width: 100%;
    grid-area: header;
    height: 10vh;
}
nav,a{
    display: flex;
    flex-direction: row;

    align-items: center;
}
a{
    padding: 10px 10px;
    margin-left: 5%;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
}
img{
    height: 2em;
    width: 2em;
}
section{
    grid-area: section;
    background-color: beige;
    border-radius: 5%;
    height: 90vh;
}
section, h2{
    text-align: center;
}
h2{
    margin-top: 20px;
}
form{
    margin: 5% 0;
    text-align: center;
    justify-content: center;
}
