html{
    height: 100vh;
}
body{
    background-image: url(../img/catbird\ image1.png);
    background-image: linear-gradient( rgba(131,58,180,1) 20%, rgba(253,29,29,0.8225665266106442) 50%, rgba(252,176,69,1) 70%), url(../img/catbird\ image1.png);
    gap: 5px;
    grid-template: 
        "header header  header"
        ".      main .    ";
       
}

header{

    background-color: #00000069;
    border-radius: 10%;
    width: 100%;
    grid-area: "header";
    height: 10vh;
}
main{
    grid-area: "main";
    height: 90vh;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: center;    
}
a{
    align-self: start;
    justify-self: start;
    
}
img{
    height: 2em;
    width: 2em;
}
h1{
    
    text-align: center;
    align-self: center;
}