/* Estilos generales */
*{
    box-sizing: border-box;
    /* height: 100%; */
}
html{
    /* height: 100%; */

}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;/*para q use el 100% de la pagina*/
    /* padding: 90px 20px 0; */
    cursor: url(../img/mause1.png),auto;
    min-height: 100vh;
    background-color: aqua;
    background-image: linear-gradient( rgba(131,58,180,1) 20%, rgba(253,29,29,0.8225665266106442) 50%, rgba(252,176,69,1) 70%), url(../img/catbird\ image1.png);
    background-size: 30%;


}



/* Estilos de clases */

.container > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;

}

/*grid-area: Nombre definido en el container*/
.header {
    display: flex;
    justify-content: center;
    grid-area: header;
    background-color: #614c35;
    height: 35px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}
.header img {
    height: 4vh;
    /* margin-bottom: 5px; */
}
.main {
    grid-area: main;
    background-color: aquamarine;
    display:flex ;
    justify-content: center;
}

.lateral-izquierda{
    grid-area: izquierda;
    background-color: beige;
}
.lateral-deracha{
    grid-area: derecha;
    background-color: beige;
    height: 500px;
}
.footer{
    grid-area: footer;
    background-color: rgb(66, 65, 65);
    
}
.container {
    display: grid;
    gap: 5px;/*Separacion de los elementos*/
    grid-template: /*Nombres para las areas*/
        "header"    30px
        "main"      auto
        "derecha"   auto
        "izquierda" 200px
        "footer"    50px;

}
/*barra de navegación*/
.nav{
   display: flex;
   justify-content: space-between;
   /* margin-top:0px; */
   max-width: 992px;
   /* margin: 43px auto; */
   align-items: center;
   align-content: center;
}
.nav ul {
    margin-bottom: 0;
}

.nav-link{
    color: rgb(0, 4, 255);
    text-decoration: none;/* subrrayado de los enlaces*/
    align-items: center;
}
.logo{

    /* margin-bottom: 48px; */
    padding: 0 40px;
    line-height: 80px;
    align-items: center;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;/*puntos de las listas*/
    /* margin-bottom: 90px; */
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
   padding: 8px 12px;
   border-radius: 3px;

}
.nav-menu-link:hover
{
    background-color: #917250;
    transition: 0.5s;

}
.nav-toggle{
    color: rgb(20, 127, 221);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
.main .contenedor {
    text-align: center;
}
.main .contenedor img {
    /* width: 40%;
    height: 50%; */
    border-radius: 50%;

}
.main .contenedor h1 {
    font-style: bold;
    font-style: italic;
}
.main .contenedor span{
    font-style: italic;
    font-style: bold;
}
.main .contenedor .hola{
    font-size: xx-large;

}

.contenedor-der .carousel-inner{
}





/*Adaptacion a distintas pantallas*/

@media(max-width: 768px){
    .header{
        height: 30px;
    }
    .logo{

        padding: 0 20px;

    }
    .logo img{
        height: 3.5vh;
        
    }

    .nav-menu{
      flex-direction: column;
      align-items: center;
      /* margin: 0; */
      background-color: #99550b;
      position: fixed;
      left: 0;
      top: 30px;/* para el menu despegable coincide con la altura del nav*/
      width: 100%;
      padding: 20px 0;
      height: calc(100%-60px);
      overflow-y:auto; /* bara de scroll*/
      left: 100%;
      transition: left 0.3s;
    }
    .nav-menu-item{
      line-height: 70px;
    }
    .nav-menu-link:hover
    {
        background:none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
        position: absolute;
        right:40px;
        margin-bottom: 26px;
    }
    .nav-menu_visible{
        left: 0;
        top: 30px;
    }
    .material-symbols-outlined{
        margin-top: 45px;
    }
}

@media (min-width:600px){
    .container{
        /* ordenar las tablas del grid tempalte, respetar las columnas y su posición*/
        grid-template:
        "header header"  30px
        "main main" auto
        "derecha derecha" 100px
        "izquierda izquierda" 100px
        "footer footer"  50px /
         100px auto;
        /* orden de las areas Prestar atención a las " " */
        /* la Altura va a la derecha y el Ancho despues del / respetando el orden de las columnas*/
    }
}
@media (min-width:900px){
    .container{
        grid-template:
        "header header    header"  30px
        ".      main      .     "  auto
        " .     derecha   .     "  auto
        ".      izquierda .   "  100px
        "footer footer    footer"  100px /
        50px   auto       50px;
    }


}
