/* Estilos generales */
*{
    box-sizing: border-box;
    height: 100%;
}
html{
    height: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    min-height: 100%;/*para q use el 100% de la pagina*/
    /* padding: 90px 20px 0; */
}



/* Estilos de clases */
.container > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
  
}

/*grid-area: Nombre definido en el container*/
.header {
    display: flex;
    grid-area: header;
    background-color: #614c35;
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}
.main {
    grid-area: main;
    background-color: aquamarine;
}
.lateral-izquierda{
    grid-area: izquierda;
    background-color: beige;
}
.lateral-deracha{
    grid-area: derecha;
    background-color: beige;
}
.footer{
    grid-area: footer;
    background-color: rgb(66, 65, 65);
}
.container {
    display: grid;
    gap: 5px;/*Separacion de los elementos*/
    grid-template: /*Nombres para las areas*/
        "header"    30px
        "izquierda" 100px
        "main"      auto 
        "derecha"   100px
        "footer"    50px;

}
/*barra de navegación*/
.nav{
   display: flex;
   justify-content: space-between;
   margin-top:0px;
   max-width: 992px;
   margin: 0 auto;
   align-items: center;
}
.nav-link{
    color: rgb(0, 4, 255);
    text-decoration: none;/* subrrayado de los enlaces*/
    align-items: center;
}
.logo{
    /* padding-bottom: 65px; */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 75px;
    padding: 0 40px;
    line-height: 80px;
    align-items: center;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;/*puntos de las listas*/
    margin-bottom: 90px;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
   padding: 8px 12px;
   border-radius: 3px;

}
.nav-menu-link:hover
{
    background-color: #917250;
    transition: 0.5s;

}
.nav-toggle{
    color: rgb(20, 127, 221);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}








/*Adaptacion a distintas pantallas*/
@media(max-width: 768px){
    body{
       padding-top: 70px; 
    }
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60;
    }
    .nav-menu{
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #99550b;
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100%-60px);
      overflow-y:auto; /* bara de scroll*/
      left: 100%;
      transition: left 0.3s;
    }
    .nav-menu-item{
      line-height: 70px; 
    }
    .nav-menu-link:hover
    {
        background:none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
}

@media (min-width:600px){
    .container{
        /* ordenar las tablas del grid tempalte, respetar las columnas y su posición*/
        grid-template: 
        "header header"  30px 
        "izquierda main" auto
        "derecha derecha" 100px
        "footer footer"  50px /
        200px   auto;
        /* orden de las areas Prestar atención a las " " */
        /* la Altura va a la derecha y el Ancho despues del / respetando el orden de las columnas*/
    }
}
@media (min-width:900px){
    .container{
        grid-template: 
        "header header header"  30px
        "izquierda main derecha"auto
        "footer footer footer"  100px / 
        200px   auto    200px;
    }
}
